<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather | Weather App</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    {{>header}}
    
    <div class="wrapper">
        <h3 style="font-style: italic;">{{msg}}</h3>
        <h3 style="font-style: italic;">Your location is {{location}}</h3>
        <h3 style="font-style: italic;">Expected Forecast</h3>
        <h3 style="font-style: italic;">{{forecast}}</h3>
        
    </div>

    {{>footer}}

</body>

</html>